<section id="work-experiences">
    <div class="component-bg pb-5 pt-5">
        <div class="container pb-5">
            <div class="row">
                <h1 class="text-center mt-5">Arbetslivserfarenheter</h1>
                <p class="text-center lead mt-3">Mina senaste arbetslivserfarenheter </p>
                <hr class="mt-3" />
            </div>
            @* TODO: Create experience component that takes company, year, role and description as input. *@
            <div class="row mt-4">
                <div class="col-lg-4">
                    <h5 class="mb-0"><strong>Nonsultant AB</strong></h5>
                    <p>Oct 2021 - Nuvarande</p>
                </div>
                <div class="col-lg-8">
                    <h5 class="mb-0"><strong>LIA</strong></h5>
                    <p>
                        Jag har varit delaktig i kundprojekt där jag jobbat med bland annat ASP.NET Core, RestAPI, EntityFramework Core, OpenAPI, Blazor WebAssembly, Docker, CI/CD pipelines. Jag har även gjort mitt examensarbete inom system arkitektur
                        där jag konverterat ett system från monolit arkitektur till microservice arkitektur. 
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h5 class="mb-0"><strong>Byggnadsvård Wäst</strong></h5>
                    <p>Aug 2016 - Feb 2017</p>
                </div>
                <div class="col-lg-8">
                    <h5 class="mb-0"><strong>Målare</strong></h5>
                    <p>Renovering av gamla hus med gameldags tekniker. Rivning av hus och snickerier på traditionellt sätt.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h5 class="mb-0"><strong>Kjellssons måleri AB</strong></h5>
                    <p>Aug 2016 - Oct 2017</p>
                </div>
                <div class="col-lg-8">
                    <h5 class="mb-0"><strong>Målare</strong></h5>
                    <p>Nyproduktion samt renovering</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <h5 class="mb-0"><strong>Svanbergs måleri AB</strong></h5>
                    <p>May 2006 - Aug 2016</p>
                </div>
                <div class="col-lg-8">
                    <h5 class="mb-0"><strong>Construction Painter</strong></h5>
                    <p>Lägenhetsrenoveringar, nybyggnationer, ROTavdrag, utvändig samt invändig målning.
                    Sprutlackering av köksluckor, möbler samt snickerier.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 

@code {

}
