<div class="container pb-5 pt-5">
    <div class="row">
        <h1 class="text-center mt-5">Profile</h1>
        <p class="text-center lead mt-3">I'm a .NET developer</p>
        <hr class="mt-3" />
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-4">
            <h4>About me</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dignissimos illo vero minima, enim ab non rerum, doloribus nostrum cupiditate molestias beatae. Modi, dolorem autem at vero assumenda obcaecati rerum quibusdam tenetur consequuntur debitis sapiente accusantium. Architecto sed ducimus commodi sapiente facere! Repudiandae iste fuga soluta? Voluptatem quod voluptatibus maiores neque, consectetur eos ducimus! Non cumque vel iusto consequuntur magni a ducimus ex nisi optio! Laboriosam, illum sunt veniam veritatis, sapiente voluptatum provident excepturi deleniti dignissimos aliquam dicta quae quo molestias dolore dolor dolorem iure porro eveniet error quis. Similique libero, deleniti sunt et nulla expedita consequuntur debitis eligendi doloribus illum voluptatibus laboriosam quo cupiditate. Recusandae, fugit est inventore voluptatibus doloribus quo modi voluptatum ut nostrum reprehenderit minima. A, voluptate.</p>
        </div>
        <div class="col-lg-4">
            <img src="./img/profile-img.jpg" class="profile-img">
        </div>
        <div class="col-lg-4">
            <div class="row">
                <h4>Details</h4>
            </div>
                <p class=" mt-3 mb-0"><strong>Name:</strong></p> 
                <p>Patric Bergkvist</p>
                <p class="mb-0"><strong>Born:</strong></p>
                <p>Jan 22 1986</p>
                <p class="mb-0"><strong>Location:</strong></p>
                <p>Lyseki, Sweden</p>
        </div>
    </div>
</div>

@code {

}
