<section id="about">
    <div class="container pb-5 pt-5">
        <div class="row">
            <h1 class="text-center mt-5">Profil</h1>
            <p class="text-center lead mt-3">Jag är en .NET utvecklare som brinner för mitt yrke</p>
            <hr class="mt-3" />
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-4">
                <h4>Om mig</h4>
                <p>
                    Mitt namn är Patric Bergkvist, jag är 38 år och bosatt i Skara sedan 2023 tillsammans med min fru och våra barn.
                    Efter nästan 20 år i måleribranschen kände jag att jag hade gjort mitt, jag var sugen på att gå vidare i livet och anta nya utmaningar vilket ledde mig
                    in på studier och en yrkesutbildning till barnskötare / elevassistent. Under utbildningen fick jag upp ett stort intresse för att studera vilket gjorde så jag
                    efter examen fortsatte med att läsa kurser på komvux där jag läste bland annat Programmering 1 vilket blev som en klarhet i vad jag ville bli "när jag blir stor". 
                    Att jobba inom IT har varit en dröm sedan barnsben, så våren 2020 lämnade jag in min ansökan till .NET utvecklare utbildningen på Teknikhögskolan i Göteborg vilken jag 
                    med stor glädje blev antagen till.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="./img/profile-img.jpg" class="profile-img">
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <h4>Detaljer</h4>
                </div>
                    <p class=" mt-3 mb-0"><strong>Namn:</strong></p> 
                    <p>Patric Bergkvist</p>
                    <p class="mb-0"><strong>Född:</strong></p>
                    <p>22 Jan 1986</p>
                    <p class="mb-0"><strong>Bor:</strong></p>
                    <p>Skara, Sverige</p>
            </div>
        </div>
    </div>
</section>

@code {

}
