.contact-bg {
    background-color: #434242;
}

h1 {
    color: #FFF;
}

hr {
    color: #FFF;
}

p {
    color: #c0c0c0;
}

.fa {
    font-size: 20px;
    color: #c0c0c0;
}

body {
    color: #c0c0c0;
}