<section id="landing">
    <div class="jumbotron">
        <div class="overlay">
            <div class="text-center-aligned">
                <h1>Patric Bergkvist</h1>
                <hr class="line-height"/>
                <h3 class="text-center">Personligt CV</h3>
            </div>
        </div>
    </div>
</section>

@code {

}
